doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title +/kei | K reference card
        link(rel="stylesheet" href="/css/core.css")
        link(rel="stylesheet" href="/css/media.css")
        link(rel="stylesheet" href="/css/fonts.css")
        link#theme(rel="stylesheet" href="/css/monokai.css")
    body
        header
            h1#top
                span ref #[code#k-item k]
                span.right
                    .easy-autocomplete
                        input#autocomplete(placeholder="Search...")
                    img.avatar(src="/svg/kei_logo.svg" alt="kei")
            pre.refcard !{h}
        main !{md}
        footer
            span made with love on !{date}
        script(src="/js/jquery.min.js")
        script(src="/js/theme.js")
        script(src="/js/jquery.easy-autocomplete.min.js")
        script(src="/js/autocomplete.js")
        script(src="/js/noise.js")
